.movies-card__list {
    list-style-type: none;
    margin: 0;
    padding: 70px 70px 50px 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 38px;
}

@media (max-width: 800px) {
    .movies-card__list {
        grid-template-columns: repeat(2, 1fr);
        padding: 70px 30px 50px 30px;
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media (max-width: 425px) {
    .movies-card__list {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 10px 50px 10px;
        row-gap: 34px;
    }
}