.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 74px 0 70px;
}

.profile__hello {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center
}

.profile__form {
    width: 410px;
    display: flex;
    flex-direction: column;
}

.profile__wrapper {
    margin: 123px 0 172px;
}

.profile__field {
    display: flex;
    justify-content: space-between;
}

.profile__field_name {
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding-bottom: 16px;
}

.profile__field_password {
    padding-top: 16px;
}

.profile__field-name {
    width: 30%;
    margin: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__field-value {
    width: 70%;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000000;
    background-color: #ffffff;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
}

.profile__seccess-message {
    margin: 0 0 20px;
    text-align: center;
    color: #ff3055;
    visibility: hidden;
}

.profile__seccess-message_visible {
    visibility: visible;
}

.profile__edit-button {
    margin: 0 0 16px 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
    transition: all 0.5s;
}
 
.profile__edit-button:hover {
    opacity: 0.5;
}
  
.profile__exit-button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
    color: #ff3055;
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    transition: all 0.5s;
}

.profile__field-error {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}
  
.profile__exit-button:hover {
    opacity: 0.5;
}
  
@media (max-width: 800px) {
    .profile__form {
        width: 396px;
    }

    .profile__wrapper {
        margin: 96px 0 210px;
    }
}
  
@media (max-width: 520px) {
    .profile {
        padding: 70px 30px 40px;
    }

    .profile__wrapper {
        margin: 80px 0 210px;
        flex-grow: 1;
    }
  
    .profile__form {
        width: 100%;
        min-height: 80vh;
    }
  
    .profile__info {
        margin: 80px 0 380px;
    }
}
  