.logo {
    height: 38px;
    width: 38px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    opacity: 1;
    transition: all .3s ease .1s;
}

.logo:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .logo {
        background-image: url(../../images/logo_auth.svg);
    }
}