.logo {
    height: 38px;
    width: 38px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .logo {
        background-image: url(../../images/logo_auth.svg);
    }
}