.more {
    margin: 0 70px 80px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more__button {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    opacity: 1;
}

.more__button:hover {
    opacity: 0.8;
}

@media (max-width: 800px) {
    .more {
        margin: 0 30px 80px 30px;
    }
}

@media (max-width: 425px) {
    .more {
        margin: 0 10px 80px 10px;
    }
}