.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 0 70px 0 60px;
    background-color: #073042;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 30px 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 14px 0 14px;
    }
}